<template>
    <form class="w-full p-6 text-gray-600" method="POST">
        <transition
            enter-class="transition-all opacity-0 transform scale-y-0"
            enter-to-class="transition-all opacity-100 transform scale-y-100"
            enter-active-class="transition-all transform duration-1000 ease-in-out">
            <div v-show="success">
                <div class="rounded-md bg-green-50 p-4 mb-4">
                    <div class="ml-3">
                        <h3 class="text-sm leading-5 font-medium text-green-800">
                            Thank You!
                        </h3>
                        <div class="mt-2 text-sm leading-5 text-green-700">
                            <p>
                                Thank you for your message. We'll try to reply in the next 48 hours.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition enter-class="transition-all opacity-0 transform scale-y-0"
                    enter-to-class="transition-all opacity-100 transform scale-y-100"
                    enter-active-class="transition-all transform duration-1000 ease-in-out">
            <div v-show="fail">
                <div class="rounded-md bg-red-50 p-4 mb-4">
                    <div class="ml-3">
                        <h3 class="text-sm leading-5 font-medium text-red-800">
                            We're sorry!
                        </h3>
                        <div class="mt-2 text-sm leading-5 text-red-700">
                            <p>
                                Something bad happened.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <transition leave-class="transition-all opacity-100 transform scale-y-100"
                    leave-to-class="transition-all opacity-0 transform scale-y-0"
                    leave-active-class="transition-all transform duration-300 ease-in-out">
            <div v-show="!success">
                <div class="flex flex-wrap mb-6" v-if="stickypot">
                    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Your Name</label>
                    <input id="name" type="text" class="form-input w-full" v-model="name" placeholder="Your name">
                </div>

                <div class="flex flex-wrap mb-6">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Your E-Mail Address</label>

                    <input id="email" type="email" class="form-input w-full" v-model="email"
                           :class="{ 'border-red-500': errors.email.length }"
                           required autocomplete="email" placeholder="name@domain.com" autofocus>

                    <p class="text-red-500 text-xs italic mt-4" v-if="errors.email.length">{{ errors.email.join(' ') }}</p>
                </div>

                <div class="flex flex-wrap mb-6">
                    <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Message</label>

                    <textarea id="message" v-model="message"
                              class="form-input w-full h-32"
                              :class="{ 'border-red-500': errors.message.length }"
                              placeholder="..." required></textarea>

                    <p class="text-red-500 text-xs italic mt-4" v-if="errors.message.length">{{ errors.message.join(' ') }}</p>
                </div>

                <div class="flex flex-wrap items-center">
                    <button type="button"
                            @click="submitForm"
                            class="flex bg-base-light hover:bg-base-dark text-gray-100 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        <svg fill="currentColor" class="w-6 h-6" viewBox="0 0 20 20"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                        <span class="pl-2">Send</span>
                    </button>
                </div>
            </div>
        </transition>
    </form>
</template>

<script>
    export default {
        name: 'ContactUsForm',
        data() {
            return {
                stickypot: false,
                success: false,
                fail: false,
                name: '',
                email: '',
                message: '',
                errors: {
                    email: '',
                    message: '',
                }
            }
        },
        methods: {
            submitForm() {
                this.$http.post('/contact-us', {
                    name: this.name,
                    email: this.email,
                    message: this.message,
                })
                .then(() => {
                    this.fail = false
                    this.success = true
                }, badResponse => {
                    this.success = false
                    this.fail = true
                    if (badResponse.data.hasOwnProperty('errors')) {
                        this.errors.email = badResponse.response.data.errors.email ?? ''
                        this.errors.message = badResponse.response.data.errors.message ?? ''
                    }
                })
            }
        }
    }
</script>
