<template>
    <form method="POST" class="flex flex-col space-y-4 p-4 bg-white rounded-lg text-gray-500 border border-gray-300">
        <div class="relative form-textarea min-h-36 overflow-auto rounded border border-gray-300 text-gray-500 p-2 placeholder-gray-400 leading-tight cursor-pointer">
            <input multiple
                   type="file"
                   @change="addFile"
                   v-if="!encrypted"
                   class="absolute inset-0 block w-full opacity-0 cursor-pointer">
            <div class="flex flex-col items-center h-full">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                    class="flex-grow w-8 h-8 block m-auto fill-current">
                    <path d="M13 10v6H7v-6H2l8-8 8 8h-5zM0 18h20v2H0v-2z"/>
                </svg>
                <transition-group
                    name="file-list"
                    tag="ul"
                    class="flex flex-wrap w-full"
                    enter-active-class="transform duration-500"
                    enter-class="scale-y-0 opacity-0"
                    enter-to-class="scale-y-100 opacity-100"
                    leave-active-class="transform duration-300"
                    leave-class="scale-y-100 opacity-100"
                    leave-to-class="scale-y-0 opacity-0">
                    <li v-for="(file, index) in files" class="relative flex-1 min-w-1/3 max-w-1/3" v-bind:key="file.name">
                        <div class="m-2 p-4 rounded text-sm bg-base-light text-white">
                            <p class="whitespace-no-wrap truncate">Name: <strong>{{ file.name }}</strong></p>
                            <p class="whitespace-no-wrap truncate">Size: <strong>{{ file.humanSize }}</strong></p>
                            <div class="absolute top-0 right-0 mt-2 mr-2 text-white z-50" @click="deleteFile(index)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="block w-6 h-6 fill-current">
                                    <path d="M0 10l7-7h13v14H7l-7-7zm14.41 0l2.13-2.12-1.42-1.42L13 8.6l-2.12-2.13-1.42 1.42L11.6 10l-2.13 2.12 1.42 1.42L13 11.4l2.12 2.13 1.42-1.42L14.4 10z"/>
                                </svg>
                            </div>
                        </div>
                    </li>
                </transition-group>
                <p class="flex-grow pt-2 text-sm text-center">Drop your files here or click to select files...</p>
            </div>
        </div>
        <select v-if="!encrypted"
                :disabled="processing"
                v-model="selectedExpiryTime"
                class="form-select">
                <!-- class="rounded px-4 py-1 bg-white text-gray-500 border border-gray-300"> //-->
            <option
                v-for="option in expiryOptions"
                v-bind:value="option.value"
                :selected="isOptionSelected(option)"
            >{{ option.label }}</option>
        </select>
        <button type="button"
                v-if="!encrypted"
                :disabled="processing"
                @click.prevent="encryptInputFiles"
                class="w-48 rounded py-2 px-4 bg-base-light hover:bg-base-dark text-white border border-gray-300 disabled:bg-gray-300 disabled:cursor-not-allowed"
                >Encrypt &amp; Upload</button>
    </form>
</template>

<script>
    import { generateKey, encrypt, getKeyAsJson } from '../encryption'
    import { sendFile } from '../ajax'

    export default {
        name: "SecureFileForm",
        data() {
            return {
                encrypted: false,
                processing: false,
                files: [],
                encryptionKey: '',
                response: '',
                selectedExpiryTime: 120,
                expiryOptions: [
                    {value: 30, label: '30 minutes'},
                    {value: 60, label: '1 hour'},
                    {value: 120, label: '2 hours'},
                    {value: 240, label: '4 hours'},
                    {value: 360, label: '6 hours'},
                    {value: 720, label: '12 hours'},
                    {value: 1440, label: '24 hours'},
                    {value: 2880, label: '48 hours'},
                ],
            }
        },
        methods: {
            getPrettySize(bytes) {
                let pretty = ''
                const suffixes = ['KB', 'MB', 'GB', 'TB'];

                for (let n = 0, approx = bytes / 1024; approx > 1; approx /= 1024, n++) {
                    pretty = approx.toFixed(1) + suffixes[n]
                }

                return pretty.length > 3 ? pretty : bytes + ' bytes'
            },
            isOptionSelected(option) {
                return option.value === this.selectedExpiryTime
            },
            addFile(event) {
                Array.from(event.target.files).forEach(file => {
                    file.id = btoa(file.name)
                    file.humanSize = this.getPrettySize(file.size)
                    this.files.push(file)
                })
            },
            deleteFile(index) {
                this.files.splice(index, 1);
            },
            sendEncryptedFile(encrypted) { /*encryptedFile is an ArrayBuffer */
                sendFile(encrypted, this.selectedExpiryTime)
            },
            encryptInputFiles() {
                generateKey()
                    .then(key => this.encryptionKey = key)
                    .then(() => this.files.forEach(file => {
                        const reader = new FileReader()
                        reader.onload = event => encrypt(this.encryptionKey, event.target.result)
                                .then(encrypted => {
                                    getKeyAsJson(this.encryptionKey)
                                        .then(keyString => {
                                            console.log(`Key used to encrypt file "${file.name}" is: ${keyString}`);
                                            console.log(`The encrypted file "${file.name}" is ${encrypted.file.byteLength} bytes long`)
                                            this.sendEncryptedFile(encrypted)
                                        })
                                })
                                .catch(console.error)

                        reader.readAsArrayBuffer(file);
                    }))
            },
        },
    }
</script>
