<template>
    <form method="POST" class="flex flex-col space-y-4 p-4 bg-white rounded-lg text-gray-500 border border-gray-300">
        <textarea v-model="textToEncrypt"
                  placeholder="Write or paste your text in here..."
                  class="form-textarea h-36 rounded border border-gray-300 text-gray-500 p-4 placeholder-gray-400 leading-tight"></textarea>
        <textarea v-model="response" disabled v-if="encrypted"
                  class="form-textarea h-36 rounded border border-gray-300 text-gray-500 p-4 placeholder-gray-400 leading-tight disabled:cursor-text"></textarea>
        <select v-if="!encrypted"
                :disabled="processing"
                v-model="selectedExpiryTime"
                class="form-select">
                <!-- class="rounded px-4 py-1 bg-white text-gray-500 border border-gray-300"> //-->
            <option
                v-for="option in expiryOptions"
                v-bind:value="option.value"
                :selected="isOptionSelected(option)"
            >{{ option.label }}</option>
        </select>
        <button type="button"
                v-if="!encrypted"
                :disabled="processing"
                @click.prevent="encryptMe"
                class="w-48 rounded py-2 px-4 bg-base-light hover:bg-base-dark text-white border border-gray-300 disabled:bg-gray-300 disabled:cursor-not-allowed"
                >Encrypt!</button>
    </form>
</template>

<script>
    import { encrypt } from 'triplesec'
    import { v4 as uuidv4 } from 'uuid';

    export default {
        name: "SecureTextForm",
        data() {
            return {
                encrypted: false,
                processing: false,
                password: uuidv4(),
                textToEncrypt: '',
                response: '',
                selectedExpiryTime: 120,
                expiryOptions: [
                    {value: 30, label: '30 minutes'},
                    {value: 60, label: '1 hour'},
                    {value: 120, label: '2 hours'},
                    {value: 240, label: '4 hours'},
                    {value: 360, label: '6 hours'},
                    {value: 720, label: '12 hours'},
                    {value: 1440, label: '24 hours'},
                    {value: 2880, label: '48 hours'},
                ],
            }
        },
        methods: {
            isOptionSelected(option) {
                return option.value === this.selectedExpiryTime
            },
            saveHash() {
                axios.post('/save', {
                    hash: this.textToEncrypt,
                    expires: this.selectedExpiryTime,
                }).then(
                    response => {
                        console.log(response)
                        this.response = 'Your link is: ' + response.data.link +
                            ' and password is: ' + this.password
                    },
                    badResponse => console.log(badResponse)
                )
            },
            encrypting(err, buff) {
                if (err) {
                    alert('Not gone well!')
                    this.processing = false
                    return
                }
                this.textToEncrypt = buff.toString('hex')
                this.encrypted = true
                this.processing = false
                this.saveHash()
            },
            encryptMe() {
                this.processing = true
                encrypt ({
                    data: new Buffer(this.textToEncrypt),
                    key: new Buffer(this.password),
                    progress_hook: (obj) => {}
                }, (err, buff) => this.encrypting(err, buff))
            },
        },
    }
</script>
